<div *ngIf="!player">Error loading player data</div>
<div *ngIf="player">
  <div class="row">
    <div class="col">
      <h4 class="card-title">Player: {{player.first}} {{player.last}}</h4>
      <h5 class="card-title">Debut: {{player.play_debut | date}} </h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-pitch-outcome></app-pitch-outcome>
      <app-batting-averge></app-batting-averge>
      <app-slugging></app-slugging>
      <app-on-base-percentage></app-on-base-percentage>
    </div>
    <app-year-slider></app-year-slider>
  </div>
  <div class="row">
    <div class="col">
      <app-era></app-era>
    </div>
  </div>
</div>